//tooltip popper
.el-tooltip__popper {
  border-color: theme('colors.gray.250') !important;
}

.el-tooltip__popper[x-placement^=top] .popper__arrow::after {
  border-top-color: theme('colors.white') !important;
}

.el-tooltip__popper[x-placement^=top] .popper__arrow {
  border-top-color: theme('colors.gray.250') !important;
}

.el-tooltip__popper[x-placement^=bottom-start] .popper__arrow::after {
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-bottom-color: theme('colors.white') !important;
}

.el-tooltip__popper[x-placement^=bottom-start] .popper__arrow {
  border-bottom-color: theme('colors.gray.250') !important;
}

  //toggle
.el-switch {
  .el-switch {
    &__label * {
      @apply text-s font-light;
    }

    &__core {
      box-shadow: inset 0 0 2px 0 rgba(0,0,0,.35);
      height: 22px;
      border-radius: 15px;

      &::after {
        @apply bg-blue-200;
        top: 2px;
        left: 2px;
      }
    }
  }

  &__label.is-active {
    @apply text-gray-900;
  }
}

.el-switch.is-checked .el-switch__core::after {
  @apply -ml-4.5;
}

// select
.el-select {
  .el-input {
    &--suffix.is-focus .el-input__inner {
      @apply border-gray-250 rounded-xl rounded-b-none;
    }
    &--suffix {
      @apply text-s;
      .el-input__inner {
        @apply rounded-full border-gray-250 shadow-tiny leading-none h-8;
      }
    }

    &__icon {
      @apply hidden;
    }
  }
}

// select dropdown
.el-select-dropdown.el-popper {
  @apply mt-0;
  .popper {
    &__arrow {
      @apply hidden;
    }
  }
}
.el-select-dropdown {
  @apply border-gray-250 shadow-tiny rounded-xl rounded-t-none;
  &__list {
    @apply pb-3;
  }
  &__item {
    @apply text-s;
  }
}

// cascader
.el-cascader {
  @apply leading-none invisible;
  .el-input {
    &--suffix {
      @apply text-s;
      .el-input__inner {
        @apply hidden;
      }
    }

    &__icon {
      @apply hidden;
    }
  }
}

// cascader dropdown
.el-popper.el-cascader {
  &__dropdown {
    @apply rounded-lg shadow-tiny border-gray-250 -mt-14.25;
    .popper__arrow {
      @apply hidden;
    }
    .el-cascader-panel {
      @apply block;
      .el-cascader-menu {
        @apply border-r-0 border-b border-gray-250;
        .el-cascader-node {
          @apply text-s text-gray-900;
          &-node {
            &__label {
              @apply px-0;
            }
          }
        }
        &:last-child {
          @apply border-b-0;
        }

        i {
          @apply hidden;
        }
      }
    }
  }
};

// sub-menu
.el-submenu {
  &__title {
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
    i.el-icon-arrow-down {
      @apply hidden;
    }
  }
}
