//tooltip popper
.el-tooltip__popper {
  border-color: theme('colors.gray.250') !important;
}

.el-tooltip__popper[x-placement^=top] .popper__arrow::after {
  border-top-color: theme('colors.white') !important;
}

.el-tooltip__popper[x-placement^=top] .popper__arrow {
  border-top-color: theme('colors.gray.250') !important;
}

.el-tooltip__popper[x-placement^=bottom-start] .popper__arrow::after {
  border-bottom-color: theme('colors.white') !important;
}

.el-tooltip__popper[x-placement^=bottom-start] .popper__arrow {
  border-bottom-color: theme('colors.gray.250') !important;
}

// cascader
.el-cascader {
  @apply leading-none invisible;
  .el-input {
    &--suffix {
      @apply text-s;
      .el-input__inner {
        @apply hidden;
      }
    }

    &__icon {
      @apply hidden;
    }
  }
}

// sub-menu
.el-submenu {
  &__title {
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
    i.el-icon-arrow-down {
      @apply hidden;
    }
  }
}

// steps
.el-steps {
  .el-step {
    &__head.is-finish {
      @apply text-indigo-500 border-indigo-500;
      .el-step__icon {
        @apply bg-indigo-500 border-indigo-500;
      }
    }

    .el-step__line {
      @apply border-indigo-500;
      top: theme('spacing.8') !important;
      &-inner {
        width: 100% !important;
        border-width: theme('spacing.px') !important;
      }
    }

    &__icon {
      @apply w-16 h-16 border-2;
    }

    &__main {
      .el-step__title {
        @apply text-indigo-500;
      }
    }

  }
  .el-step__head.is-process, .el-step__head.is-wait {
    .el-step__icon {
      @apply border-indigo-500;
    }
  }
  .el-step__title.is-process {
    font-weight: normal !important;
  }
}
